* {
  padding: 10px;
  background-color: black;
  color: #ffff;
}
body {
  text-align: center;
}
#demo,
#demo2 {
  font-size: 25px;
}
button {
  padding: 16px;
  color: aliceblue;
  background-color: #000;
  border: 2px solid aliceblue;
  font-size: 20px;
}
button:hover {
  color: #000;
  background-color: #ffff;
  border-color: #000;
}
